*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  text-align: center;
  min-inline-size: 360px;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: "raleway";
  --accent-font: "STIX Two Text"
}

.theme_dark {
  --bg-color: #312A4E ;
  --text-color: #f3efec;
  --accent-color: transparent;


}
.heading {
  font-family: var(--accent-font);
  font-weight: 600;
  line-height: 90%;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.header__title {
  font-size:  clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-right: 6vi;
  padding-bottom: 40px;
}

.content__title {
  font-size: 30px;
  padding-top: 6.3vw;
  /* letter-spacing: 9px; */
  padding-bottom: 2.2vw;
}

.header {
  padding-top: 10vw;
}

.content__text-block {
  font-size: 18px;
}

.content__paragraph {
  padding-bottom: 1.2em;
  text-align: left;
}

.link {
  color: inherit;
}

.content__blockquote {
  padding-left: 16vw;
  text-align: left;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
  /* padding-top: 27px; */
  width: 75vw;
  padding-bottom: 27px;
}

.content__list {  
  text-align: left;
  list-style: none;
  margin-inline-start: 40px;
  padding-bottom: 10px;
  position: relative;
}

.content__list::before {
  content: " ";
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position:absolute;
  left: -30px;
  top: 10px;
}

.theme_dark .content__list::before {
  background-image: url(../images/marker-dark.svg);
} 

.content__text-block_type_first-lettered:first-letter {
  content: " ";
  background-color: var(--accent-color);
  padding-left: 4px;
  font-weight: bolder;
  padding-right: 4px;
  margin-right: 1px;
  border: 1px solid var(--accent-color);
}

.theme_dark  .content__text-block_type_first-lettered:first-letter{
  border: 1px solid #B3B3B3;
} 

.content__picture {
  display: flex;
  width: 100%;
  height: 58.5vw;
  object-fit: cover;
}

.content__figure {
  padding-left: 7vw;
  width: calc(100dvw + 10vw);
  position: relative;
  right: -7;
  /* height: 61vw; */
  padding-top: 6.3vw;
  margin-left: -14vw;
}

.content__picture-caption {
  height: 60px;
  font-size: 18px;
  padding: 20px 0;
  margin-bottom: 6.3vw;
  border-bottom: 1px solid var(--text-color);
}

.content__card {
  aspect-ratio: 4/3;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 7vw; */
  align-items: center;
  /* height: 65.5vw; */
  /* margin: 0 3vw; */
  margin-top: 6.3vw;
  border: 1px solid var(--text-color);
}

.content__card-title {
  /* position: relative; */
  font-size: 60px;
  z-index: 2;
  min-width: 304px;
}

.colored-text {
  position: relative;
  /* overflow-wrap: anywhere; */
}

.colored-text::after {
  content: " ";
  position: absolute;
  width: 3.5em;
  height: 10px;
  z-index: -1;
  background-color: var(--accent-color);
  right: 0.1em;
  top: 5vh;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.header__logo {
  height: 31px;
  width: 135px;
  padding-left: 7vw;
}

.header__theme-toggler {
  display: flex;
  align-self: flex-end;
  justify-self: end;
  right: -1rem;
  /* margin-left: 40px; */
  /* gap: 3px; */
  justify-content: flex-end;
  /* align-items: center; */
  font-family: inherit;
}

.header__theme-button {
  display: flex;
  flex-direction: row;
  gap: 1px;
  list-style: none;
  color: currentColor;
  cursor: pointer;
  padding: 0px 50px;
}

.header__theme-button_type_dark {
  position: relative;
  left: 45px;
} 

.header__theme-button_type_light{
  position: relative;
  /* gap: 5px; */
  /* font-weight: bolder; */
  right: -49px;
}

.header__theme-button_type_light::after {
  content: " ";
  position: absolute;
  width: 3.2em;
  height: 4px;
  z-index: -1;
  background-color: var(--accent-color);
  right: 1px;
  top: 0.6em;
}

.header__theme-button_is-active::after {
  content: " ";
  position: absolute;
  width: 3.2em;
  height: 4px;
  z-index: -1;
  background-color: var(--accent-color);
  right: 1px;
  top: 0.6em;
  font-weight: bolder;
}

.theme_dark .header__theme-button_is-active::after {
background-image: url(../images/pattern.svg);
}

.header__theme-button:hover {
text-decoration: underline;
}

.header__theme-button:focus-visible {
outline: 1px solid var(--text-color);
outline-offset: 5px;
}

.header__theme-button:disabled {
  pointer-events: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 146px; */
  height: 71px;
  /* margin-bottom: 6.3vw; */
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: 20px 0px;
  /* margin-top: 10px; */
}

.footer {
  border-top: 1px solid #312A4E;
  color: var(--text-color);
  padding: 2.5%;
  margin-top: 10vw;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
}